* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white; 
    /* margin-top: 40px; */
}

/* .main-container {
    margin: 30px 30px;
    width: 500px;
    height: 400px;
    text-align: center;
    margin: 0 auto;
    background-color: #15172b;
    padding: 40px;
    border-radius: 10px;
  } */

/* .password-info {
    margin: 18px 0px;
    text-align: left;
  } */

/* h1{
    margin-bottom: .7rem;
  } */

/* .input-container {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
  } */

input,
button {
    /* margin-bottom: 15px; */
    padding: 12px;
    width: 400px;
    border-radius: 8px;
    font-size: 16px;
}

/* .input-field{
    position: relative;
    background-color: #65657b;
    outline: none;
    color: #ffffff;
  } */

/* ::placeholder{
    color: #ffffff;
  } */

  .parent{
    position:relative
  }

.fa-eye, .fa-eye-slash {
    position: absolute;
    /* width: 50px;
    border: 2px solid yellow; */
    right: 0px;
    margin: 15px;
}

.fa-arrow-right {
    position: absolute;
    /* width: 50px;
    border: 2px solid yellow; */
    right: 0px;
    margin: 15px;
}

/* .submit-btn {
    position: relative;
    background-color: #06b;
    color: #ffffff;
    cursor: pointer;
    border: none;
  } */


/* div.relative {
    position: relative;
    border: 2px solid blue;
    left: 30px;
  } */

/* div.fixed{
    position: fixed;
    border: 2px solid purple;
    bottom: 0;
    right: 0;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
  } */

/* .parent-relative{
    margin: 20px;
    padding: 10px;
    width: 300px;
    height: 250px;
    border: 2px solid black;
    position: relative;
  } */

/* .child-absolute{
    position: absolute;
    width: 200px;
    border: 2px solid yellow;
    bottom: 10px;
  } */